{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "project": "./tsconfig.eslint.json"
  },
  "plugins": ["@typescript-eslint", "n", "promise", "no-only-tests"],
  "extends": [
    "@medic/eslint-config",
    "plugin:@typescript-eslint/recommended",
    "plugin:n/recommended",
    "plugin:promise/recommended",
    "prettier"
  ],
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "no-console": "off",
    "n/no-missing-import": "off",
    "n/no-unpublished-import": "off",
    "n/no-process-exit": "off",
    "n/hashbang": "off"
  },
  "overrides": [
    {
      "files": ["test/**/*.ts"],
      "rules": {
        "@typescript-eslint/no-unused-expressions": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-require-imports": "off",
        "no-only-tests/no-only-tests": "error",
        "promise/catch-or-return": "error",
        "n/no-unpublished-require": "off"
      }
    }
  ],
  "root": true
}